<launch>
  <arg name="model" default="$(find kortex_description)/arms/gen3/7dof/urdf/GEN3_URDF_V12.urdf"/>
  <arg name="namespace_1" default="kinova_1" />
  <arg name="namespace_2" default="kinova_2" />

  <group ns = "$(arg namespace_1)">
    <param name="tf_prefix" value="$(arg namespace_1)"/>
    <param name="velocity_topic" value="joint_command" />
    <param name="joint_state_topic" value="joint_states" />
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="arm_simulator" pkg="kinova_arm" type="KinovaSimulator"/>
  </group>

  <group ns = "$(arg namespace_2)">
    <param name="tf_prefix" value="$(arg namespace_2)"/>
    <param name="velocity_topic" value="joint_command" />
    <param name="joint_state_topic" value="joint_states" />
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="arm_simulator" pkg="kinova_arm" type="KinovaSimulator"/>
  </group>

  <param name="arm_controller/urdf_model" value="$(arg model)" />
  <param name="publish_frequency" value="100" />

  <param name="K" value="0.1"/>
  <param name="D" value="0"/>
  <param name="gamma" value="25"/>
  <param name="beta" value="6.366385485"/>


  <param name="arm_controller/joint_state_topic" value="/joint_states" />
  <param name="arm_controller/velocity_topic" value="/joint_command" />
  <param name="/goal_topic" value="/goal_point" />
  <param name="/set_arm_1_namespace" value="/kinova_1" />
  <param name="/set_arm_2_namespace" value="/kinova_2" />
  <param name="/obstacle_topic" value="/obstacles_update" />
  <param name="arm_controller/urdf_model" value="$(arg model)" />

  <node name="arm_controller" pkg="kinova_arm" type="DualKinovaCollisionMonitoring"/>
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find kinova_arm)/rviz/kinova_dual_1.rviz"/>
  <node name="rviz_2" pkg="rviz" type="rviz" required="true" args="-d $(find kinova_arm)/rviz/kinova_dual_2.rviz"/>

</launch>